<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">Spring web app</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Main</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/awarder">Awarders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/award">Awards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/listRecipientsAndAwards">Awarders list</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="list-group marBot">
            {{#awards}}
                <a class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 mt-2">{{awardName}}</h5>
                        <div class="row">
                            <div class="col-8 offset-md-3">
                                <button type="button" onclick="location.href='award/editAward/{{id}}'" class="btn btn-outline-warning mt-1">Edit award</button>
                                <button type="button" class="btn btn-outline-danger mt-2 popup-open">Delete award</button>
                            </div>
                        </div>
                    </div>
                    <p>ID: {{id}}</p>
                </a>
                <div class="popup-fade">
                    <div class="popup">
                        <a class="popup-close btn btn-primary btn-sm" href="#">Close</a>
                        <p>
                            Do you really want to delete this item?
                        </p>
                        <button type="button" onclick="location.href='award/deleteAward/{{id}}'" class="btn btn-outline-danger mt-2 popup-open">Delete award</button>
                    </div>
                </div>
            {{/awards}}
        </div>
        <div class="row">
            <div class="col-2">
                <button type="button" onclick="location.href='/award/addAward'" class="btn btn-outline-dark mt-1">Add award</button>
            </div>
        </div>
    </div>
    <div {{#errorMessage}}class="alert alert-danger" role="alert"{{/errorMessage}}>{{#errorMessage}}{{errorMessage}}{{/errorMessage}}</div>
</div>
    <script src="https://yandex.st/jquery/2.1.1/jquery.min.js"></script>
    <script>
$(document).ready(function($) {
	$('.popup-open').click(function() {
		$('.popup-fade').fadeIn();
		return false;
	});

	$('.popup-close').click(function() {
		$('.popup-fade').fadeOut();
		return false;
	});

	$(document).keydown(function(e) {
		if (e.keyCode === 27) {
			e.stopPropagation();
			$('.popup-fade').fadeOut();
		}
	});

	$('.popup-fade').click(function(e) {
		if ($(e.target).closest('.popup').length == 0) {
			$(this).fadeOut();
		}
	});
});
</script>
</body>
</html>