<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
<div>
    Hello from string
    <div>Список пользователей</div>
    <div>
        {{#awarders}}
            <div>
                {{id}}
                {{name}}
                <a href="awarder/editAwarder/{{id}}">
                    <button>Edit awarder</button>
                </a>
                <a href="awarder/deleteAwarded/{{id}}">
                    <button>Delete awarder</button>
                </a>
            </div>
        {{/awarders}}
    </div>
    <a href="awarder/addAwarder">
        <button>Visit Google</button>
    </a>
</div>

</body>
</html>