<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {{#listRecipientsAndAwards}}
      {{id}}
      {{award.getAwardName}}
      {{awarder.getName}}
      <a href="/listRecipientsAndAwards/edit/{{id}}">
          <button>Edit list recipients</button>
      </a>
      <a href="/listRecipientsAndAwards/delete/{{id}}">
          <button>Delete list recipients</button>
      </a>
  {{/listRecipientsAndAwards}}

  <a href="/listRecipientsAndAwards/add">
      <button>add item recipients</button>
  </a>
  <div>
      {{#errorMessage}}{{errorMessage}}{{/errorMessage}}
  </div>
</body>
</html>